.App{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: black;
  height: 100vh;
}

header{
  color: white;
  padding: 10px;
  height: 20vh;
}

main{
  display: flex;
  align-items: center;
  height: 80vh;
}

footer{
  padding: 10px;
  color: white;
  height: auto;
  height: 10vh;
}

.weather-input{
  padding: 10px;
  border-radius: 8%;
}

.weather-submit{
  padding: 10px;
  margin: 10px;
  border-radius: 8%;
}

h3{
  color: white;
}

.error-message{
  color: red;
}

.display-weather{
  text-align: center;
}